EX2/TicketManagement/TicketManagement.WPF/TicketManagement.WPF/Connected Services/WCF.LayoutService/LayoutService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataPresenter.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataPresenter.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Layout">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="VenueId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Layout" nillable="true" type="tns:Layout" />
  <xs:complexType name="ArrayOfLayout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Layout" nillable="true" type="tns:Layout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLayout" nillable="true" type="tns:ArrayOfLayout" />
</xs:schema>