EX2/TicketManagement/TicketManagement.ASP/Connected Services/WCF.UserService/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.DataEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.DataEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetUserCart_Result3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetUserCart_Result3" nillable="true" type="tns:GetUserCart_Result3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetUserCart_Result3" nillable="true" type="tns:ArrayOfGetUserCart_Result3" />
  <xs:complexType name="GetUserCart_Result3">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventSeatId" type="xs:int" />
      <xs:element minOccurs="0" name="LayoutDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element minOccurs="0" name="VenueDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserCart_Result3" nillable="true" type="tns:GetUserCart_Result3" />
</xs:schema>