EX2/TicketManagement/TicketManagement.ASP/Connected Services/WCF.EventSeatService/EventSeatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventSeatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4473/EventSeatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4473/EventSeatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4473/EventSeatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventSeatService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEventSeatService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEventSeatService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IEventSeatService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IEventSeatService_GetForEventArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForEventArea" />
  </wsdl:message>
  <wsdl:message name="IEventSeatService_GetForEventArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForEventAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventSeatService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatService/GetAll" message="tns:IEventSeatService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatService/GetAllResponse" message="tns:IEventSeatService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatService/Get" message="tns:IEventSeatService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatService/GetResponse" message="tns:IEventSeatService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForEventArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventSeatService/GetForEventArea" message="tns:IEventSeatService_GetForEventArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventSeatService/GetForEventAreaResponse" message="tns:IEventSeatService_GetForEventArea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventSeatService" type="tns:IEventSeatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEventSeatService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IEventSeatService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForEventArea">
      <soap:operation soapAction="http://tempuri.org/IEventSeatService/GetForEventArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventSeatService">
    <wsdl:port name="BasicHttpBinding_IEventSeatService" binding="tns:BasicHttpBinding_IEventSeatService">
      <soap:address location="http://localhost:4473/EventSeatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>