EX2/TicketManagement/TicketManagement.ASP/Connected Services/WCF.EventService/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4473/EventService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4473/EventService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4473/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL" />
      <xsd:import schemaLocation="http://localhost:4473/EventService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:4473/EventService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEventService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IEventService_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetForLayout_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForLayout" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetForLayout_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForLayoutResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_VisibleEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:VisibleEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_VisibleEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:VisibleEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IEventService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEventService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_TicketCount_InputMessage">
    <wsdl:part name="parameters" element="tns:TicketCount" />
  </wsdl:message>
  <wsdl:message name="IEventService_TicketCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:TicketCountResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_TicketCountTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:TicketCountTotal" />
  </wsdl:message>
  <wsdl:message name="IEventService_TicketCountTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:TicketCountTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Buy_InputMessage">
    <wsdl:part name="parameters" element="tns:Buy" />
  </wsdl:message>
  <wsdl:message name="IEventService_Buy_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_ToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:ToCart" />
  </wsdl:message>
  <wsdl:message name="IEventService_ToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_FromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:FromCart" />
  </wsdl:message>
  <wsdl:message name="IEventService_FromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:FromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_AttachFileToEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AttachFileToEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_AttachFileToEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttachFileToEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteFileFromEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileFromEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_DeleteFileFromEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileFromEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAttachedFilesForEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedFilesForEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAttachedFilesForEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedFilesForEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAttachedFilesForEventToPair_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedFilesForEventToPair" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetAttachedFilesForEventToPair_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttachedFilesForEventToPairResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Delete" message="tns:IEventService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DeleteResponse" message="tns:IEventService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Get" message="tns:IEventService_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetResponse" message="tns:IEventService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetAll" message="tns:IEventService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetAllResponse" message="tns:IEventService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForLayout">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetForLayout" message="tns:IEventService_GetForLayout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetForLayoutResponse" message="tns:IEventService_GetForLayout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VisibleEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/VisibleEvents" message="tns:IEventService_VisibleEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/VisibleEventsResponse" message="tns:IEventService_VisibleEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Save" message="tns:IEventService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/SaveResponse" message="tns:IEventService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Update" message="tns:IEventService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/UpdateResponse" message="tns:IEventService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TicketCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/TicketCount" message="tns:IEventService_TicketCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/TicketCountResponse" message="tns:IEventService_TicketCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TicketCountTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/TicketCountTotal" message="tns:IEventService_TicketCountTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/TicketCountTotalResponse" message="tns:IEventService_TicketCountTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Buy" message="tns:IEventService_Buy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/BuyResponse" message="tns:IEventService_Buy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/ToCart" message="tns:IEventService_ToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/ToCartResponse" message="tns:IEventService_ToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/FromCart" message="tns:IEventService_FromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/FromCartResponse" message="tns:IEventService_FromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachFileToEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/AttachFileToEvent" message="tns:IEventService_AttachFileToEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/AttachFileToEventResponse" message="tns:IEventService_AttachFileToEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFileFromEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/DeleteFileFromEvent" message="tns:IEventService_DeleteFileFromEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DeleteFileFromEventResponse" message="tns:IEventService_DeleteFileFromEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachedFilesForEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetAttachedFilesForEvent" message="tns:IEventService_GetAttachedFilesForEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetAttachedFilesForEventResponse" message="tns:IEventService_GetAttachedFilesForEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttachedFilesForEventToPair">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetAttachedFilesForEventToPair" message="tns:IEventService_GetAttachedFilesForEventToPair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetAttachedFilesForEventToPairResponse" message="tns:IEventService_GetAttachedFilesForEventToPair_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEventService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IEventService/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForLayout">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetForLayout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VisibleEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/VisibleEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IEventService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IEventService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TicketCount">
      <soap:operation soapAction="http://tempuri.org/IEventService/TicketCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TicketCountTotal">
      <soap:operation soapAction="http://tempuri.org/IEventService/TicketCountTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <soap:operation soapAction="http://tempuri.org/IEventService/Buy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToCart">
      <soap:operation soapAction="http://tempuri.org/IEventService/ToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FromCart">
      <soap:operation soapAction="http://tempuri.org/IEventService/FromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachFileToEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/AttachFileToEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFileFromEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/DeleteFileFromEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachedFilesForEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetAttachedFilesForEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttachedFilesForEventToPair">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetAttachedFilesForEventToPair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://localhost:4473/EventService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>